
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2><b>Welcome to Manager area</b></h2>

    <div class="col-md-6 col-md-offset-4"><a href="@Url.Action("Index", "Country", new { area = "Manager" })">Edite country</a></div>
    <div class="col-md-6 col-md-offset-4"><a href="@Url.Action("Index", "Hotel", new { area = "Manager" })">Edite hotel</a></div>
    <div class="col-md-6 col-md-offset-4"><a href="@Url.Action("Index", "Tour", new { area = "Manager" })">Edite tour</a></div>
</div>

