@model PagedList.IPagedList<SunTravel.Models.Hotel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2 class="title">Hotels</h2>
</div>

@Html.Partial("HotelFilterPartial")

<div id="results">
    @Html.Partial("HotelItemsPartial")
</div>