
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container">
    <h2 class="title">Ok :)</h2>
</div>

<h2></h2>
<div class="container">
    <h2>Thank you, the application is accepted! </h2></ br>
    <h3>We will contact you shortly.</h3>
</div>

