
@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2 class="title">Contact:</h2>

    <address>
        Best Way<br />
        NYC, WA 74126-7326<br />
        <abbr title="Phone">P:</abbr>
        157.123.0007
    </address>

    <address>
        <strong>Support:</strong>   <a href="google.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="google.com">Marketing@example.com</a>
    </address>
</div>



