@model SunTravel.Models.Hotel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@Html.ActionLink("Admin area", "Index", new { area = "Admin", controller = "Home" }) | @Html.ActionLink("Manager area", "Index", new { area = "Manager", controller = "Home" })

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Files/1.jpg" alt="NYC">
            <div class="carousel-caption">
                <h1>New York from $199</h1>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-default btn-lg btn_choose" onClick="location.href = '../Tour/Details/43'">To bay!</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Files/2.jpg" alt="Italy">
            <div class="carousel-caption">
                <h1>Italy from $149</h1>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-default btn-lg btn_choose" onClick="location.href = '../Tour/Details/49'">To bay!</button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Files/3.jpg" alt="Paris">
            <div class="carousel-caption">
                <h1>Paris from $99</h1>
                <div class="col-md-4 col-md-offset-4">
                    <button class="btn btn-default btn-lg btn_choose" onClick="location.href = '../Tour/Details/54'">To bay!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

@Html.Partial("BookingFormPartial")