@model IEnumerable<SunTravel.Models.Hotel>

<select id="HotelId" name="HotelId" class="form-control">
    <option disabled="">Choose hotel</option>

    @foreach (var item in Model)
    {
        <option value=@item.Id>@item.Name</option>
    }

    <option value=0>--ALL--</option>
</select>


