@*@model IEnumerable<SunTravel.Models.Tour>*@
@model PagedList.IPagedList<SunTravel.Models.Tour>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2 class="title">Tours</h2>
</div>

@Html.Partial("TourFilterPartial")
@Html.Partial("TourItemsPartial")

