@*@model IEnumerable<SunTravel.Models.Tour>*@
@model PagedList.IPagedList<SunTravel.Models.Tour>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}
<div class="container">
    <h2 class="title">All tours</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("TourItemsPartial")